* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-primary: #05c46b;

  --color-general: #424242;
  --color-placeholder: #c4c4c4;
  --color-border: #aaaaaa;
  --color-line: #eeebeb;

  --grey-scale-1: #424242;
  --grey-scale-2: #727272;
  --grey-scale-3: #aaaaaa;
  --grey-scale-4: #c4c4c4;
  --grey-scale-5: #eeebeb;
  --grey-scale-6: #ffffff;

  --alert-1: #ff042d;
  --alert-1: #fdd835;
  --alert-1: #aeea00;

  --white: #fff;
}

body {
  font: 16px Roboto, sans-serif;
}
