.headerContainer {
    width: 100%;
    height: 90px;
    background: var(--color-general);
    padding-left: 90px;
  
    display: flex;
    align-items: center;
  }
  
  .imgContainer {
    display: flex;
    justify-content: flex-start;
  }
  
  .imgContainer img {
    width: 150px;
  }